@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body{
  font-family: "Roboto", sans-serif;
  margin: 0 50px;
}
h1{
    font-family: "Roboto Slab", serif;
   
    font-style:bold;
    height: 93px;
    font-weight: 700;
    margin-left: 124px;
    margin-top: 81px;
    margin-bottom: 0;
    font-size: 66px;
    
}

.man{
 width: 450px;
 height: 362px;
 margin-top: auto;


}
.circle{
  width: 343px;
  height: 59px;
}
p{
  width: 762px;
  height: 422px;
  font-weight: 400;
  font-size: 28px;
}
article{
  width: 662px;
  height: 374px;
 
  margin-left: 124px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.cameraman{
  width: 420px;
  height: 362px;
  margin-left: 70px;

  margin-right:124px;
  
  margin-top: 30px;
}
.firstslide{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}
.photo{
  margin-left: 213px;
}
.editor{
  
  height: 224px;
  
}

h2{
  width: 150px;
  height: 39px;
  font-weight: 700;
  font-size: 25px;
}
.schedule .table p{
  width: 200px;
  height: 59px;
  font-size: 22px;
  font-weight: 400;

}
.secondslide{
  display: flex;
  margin-left: 124px;
  
  margin-top:200px;
  width: 100%;;
  padding: auto;
}

.schedule{
  
  width: 60%;
  margin-left: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 
}
.table{
  margin-left: 110px;
}
@media screen and (min-width:830px) and (max-width:1400px){

   h1{
    font-family: "Roboto Slab", serif;
   
    font-style:bold;
    height: 63px;
    font-weight: 700;
    margin-left: 90px;
    margin-top: 61px;
    margin-bottom: 0;
    font-size: 40px;
   }
  p{
  width: 462px;
  height: 222px;
  font-weight: 400;
  font-size: 18px;
  }
  article{
  width: 462px;
  height: 255px;
 
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
} 
  .cameraman{
  width: 320px;
  height: 242px;
  margin-left: 50px;

  margin-right:80px;
  
  margin-top: 30px;
} 
  .editor{
  
  display: none;
  
}

h2{
  width: 100px;
  height: 29px;
  font-weight: 700;
  font-size: 16px;
}
.schedule .table p{
  width: 150px;
  height: 49px;
  font-size: 15px;
  font-weight: 400;

}
.secondslide{
  display: flex;
  margin-left: -105px;
  
  margin-top:100px;
  width: 80%;;
  padding: auto;
}

}
@media  screen and (min-width:375px) and (max-width:829px) {
   h1{
    font-family: "Roboto Slab", serif;
   
    font-style:bold;
    height: 63px;
    font-weight: 700;
    margin-left: 90px;
    margin-top: 61px;
    margin-bottom: 0;
    font-size: 40px;
   }
   .firstslide{
    display:flex;
    flex-direction: column;
    gap:20px
    
}
  p{
  width: 462px;
  height: 222px;
  font-weight: 400;
  font-size: 18px;
  }
  article{
  width: 462px;
  height: 255px;
 
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
} 
  .cameraman{
  width: 320px;
  height: 242px;
  margin-left: 50px;

  margin-right:80px;
  
  margin-top: 30px;
} 
  .editor{
  
  display: none;
  
}


h2{
  width: 100px;
  height: 29px;
  font-weight: 700;
  font-size: 16px;
}
.schedule .table p{
  width: 150px;
  height: 49px;
  font-size: 15px;
  font-weight: 400;

}
.secondslide{
  display: flex;
  margin-left: -105px;
  
  margin-top:100px;
  width: 80%;;
  padding: auto;
}
.schedule{
  
  width: 60%;
  margin-left: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 
}
}